@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: "Ubuntu", sans-serif;
}

/* VARIABLES */
:root {
	--color-primary: #2aaf59;
	--color-primary-dark: #58a771;
	--color-black: #080909;
	--color-bg-1: #a2b1a7;
	--color-bg-2: #e6e7e6;
	--color-text: #4f6056;
}
